<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {{!-- От Яндекса --}}
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ca6c950f-dbfc-4b92-9866-e35c7b2be031" type="text/javascript"></script>
  <title>EventMapper</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
  {{> navBar}}
  <div class="container-fluid">
    {{{body}}}
  </div>
</body>

</html>
