<div class='place_main'>
<div id="map"></div>
<div class='place_info'>
  <h2> Здарова ;-) </h2>
  <h8>Чтобы выбрать место, введи название в поиске, а затем нажми на метку на карте</h8>  
</div>
<button id="add" style="height: 80px; width: 10%;" class="waves-effect waves-light btn">Добавить место</button>
</div>
<script defer src="/js/admin/map.js"></script>
