<div class='place_main'>

  <div class="hero-unit">
    <div class="container" style="margin-left: -50px;">
      <div id="YMapsID"> <p class="header">Начните вводить название места:</p>
<input type="text" id="suggest2"></div>
    </div>
    <div class='place_info'></div>
  </div>
</div>






<script defer src="/js/admin/mymap.js"></script>
