<div class="superplace_main2">

<div class="hero-unit">
    
    <div class="container" style="margin-left: -50px;">
      
      <div id="YMapsID2"><p class="header">Начните вводить название места:</p>
<input type="text" id="suggest2"></div>
    </div>
    <div class='place_info'></div>
  </div>





<div class='place_main2'>
  <form class="col s12">
    
   <h5 style="width: 500px;">Вы выбрали место: <h8 id="selectedPlace"></h8> </h5>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div id="placeEvents">

            
          </div>
        </div>
     
        
    </div>
        


</div>



  </div>

    <script defer src="/js/admin/allevents.js"></script>
