
<div class="heading">
  
  <a href="/event/map/all"><h2 style="font: oblique small-caps 700 48px cursive;" class="heading__title">Все события на карте</h2></a>
  <a id="period"><h2 style="font: oblique small-caps 700 48px cursive;" class="heading__title">Выбрать определённый период</h2></a>
  <div id = "inputcontainer"></div>
</div>

<script src="/js/admin/select.js"></script>


